.predict-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  margin-top: 80px;
  /* padding-top: 5vh; */
}

.predict-form {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cropper-container {
  margin-bottom: 15px;
}

.cropped-image-container {
  margin-bottom: 15px;
}

.cropped-image-container img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #004494;
}

.prediction-result {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
}

.error {
  color: red;
  margin-top: 20px;
}
.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%; /* Adjust width as needed */
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.webcam-container video {
  max-width: 100%; /* Ensure the video fills its container */
  max-height: 1000px; /* Adjust height as needed */
}
