.footer {
  padding: 1rem;
  background-color: #050045;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure the footer is above other content */
}

.content {
  padding-bottom: 3rem; /* Increase padding to make space for footer */
  /* Add any other styling for your content area */
}
